body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to right, black, green, orange, purple );
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanete Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #3333;
    border: 2px #3333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
h1{
    color: blue;
    font-weight: lighter;
    font-size: 42px;
    text-decoration: underline;
}
button{
    border-radius: 5px;
    color: black;
    background-color: orangered;
}